header{
        height: 100vh;
    }

#logo{
    width: 100%;
    display: flex;
    align-items: center;
}    

header .global{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;
    background-image: url('../medias/Accueil.jpg');
    background-position: 50% 50%;
}

   




@media screen and (min-width: 600px){
    

    #fondBlanc{
        visibility: visible;
        background-color: white;
        height: 100vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}