body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

header, nav, main, footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




footer{
    background-color: $couleur_rougeBrun;
}


.global{
    width: 100%;
}

#logo{
    width: 100%;
    height:10vw;
}

    #logo{
        display: flex;
        align-items: center;
    }

    #aPropos{
        background-color: grey;
    }

    #store{
        height: 100vh;
    }

@media screen and (min-width: 600px){

    header{
        height: 100vh;
    }

    header .global{
        height: 100vh;
        display: flex;
        justify-content:left;
        align-items: center;
        flex-direction: row;
        background-image: url('../medias/Accueil.jpg');
        background-position: 50% 50%;
    }

    #fondBlanc{
        background-color: white;
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        }    

    #sectionMusique{
        background-color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #musique{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #aPropos{
        width: 100%;
        height: 100vh;
        display: flex;

        font-size: x-large;
        background-color: #2a2e31;
    }

    #textPropos{
        color: #d2c9c9;
    }


    #album{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #textAlbum{
        display: flex;
        justify-self: center;
    }


    //.global #photoAccueil{
        
      //  height: 100vw;
      //  display: flex;

     //   align-items: center;
     //   justify-content:center;
    //}



@media screen and (min-width: 1600px){
    #logo{
        width: 400px;
        height: 162px;
    }
}


}