body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

header, nav, main, footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}







.global{
    width: 100%;
}





#musique{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlistDesktop p, .playlistDesktop iframe{
    display: none;
}

#album{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
}

#album iframe{
    height: 60vh;
}


#aPropos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 100%;
    background-color: #2a2e31;
}

#containerPropos{
    max-width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
}

#textPropos{
    color: #d2c9c9;
    margin: 10px;
    text-align: justify;
}

#imgAPropos{
    width: 70%;
    object-fit: cover;
    object-position: 0px 40px;
}
    
    #aPropos img{
        display: none;
    }

    #store{
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    #containA{
        display: flex;
        flex-direction: column;
    }

    #containA a{
        font-size: 150%;
        color: black;
        text-decoration-line: underline;
        
        text-align: center;
        padding-bottom: 4px;
    }

    #containerSlide{
        width: 300px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory; 
    }

    #containerSlide::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

#containerSlide::-webkit-scrollbar-thumb {
    background: #3e4246;
  }
    
    #store .article{
        width: 300px;
        height: 75vh;
        flex-shrink: 0;
        scroll-snap-align: start;
        scroll-behavior: smooth;
        transition: 1s ease-in;
    }
    
    #store img{
        height: 75%;
    }

    #textStore{
        text-align: center;
        font-size: 150%;
        text-decoration: none;
    }








    
@media screen and (min-width: 600px){


    #sectionMusique{
        background-color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .playlistDesktop p, .playlistDesktop iframe{
        display: flex;
    }

    #albumSpotify{
        width: 35vw;
        height: 70vh;
    }


    #musique{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }



    #textPropos{
        color: #d2c9c9;
        margin: 10px;
        text-align: justify;
    }

    #containerPropos{
        align-items: flex-start;
    }
    
    #imgAPropos{
        width: 70%;
        object-fit: cover;
        object-position: 0px 40px;
    }
        
        #aPropos img{
        display: block;
            width: 70%;
        }



    #album{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #album iframe{
        height: 380px;
    }

    #textAlbum{
        display: flex;
        justify-self: center;
    }

    #containerSlide{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 15px 0px 15px;
    }

    .article{
        width: 25vw;
        overflow: hidden;
    }

    .article img{
        transition: transform .05s, opacity .05s;
        height: 100%;
        
    }

    #textStore p{
        text-align: center;
        font-size: 15px;
    }

    #textStore{
        display: flex;
        justify-content: center;
        flex-direction: column;

        position: relative;
        top: -15vw;
        color: white;
        visibility: hidden;
        transition: transform .05s;
    }


    .article:hover img{
        transform: scale(1.2);
        opacity: 0.5;
    }

    .article:hover #textStore{
        visibility: visible;
        transform: scale(1.2);
    }


}

@media screen and (min-width: 1600px){
    #logo{
        width: 400px;
        height: 162px;
    }
    


}