body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

header, nav, main, footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}







.global{
    width: 100%;
}



    #aPropos{
        background-color: grey;
    }
    
    #aPropos img{
        width: 75vw;
    }

    #store{
        height: 100vh;
        
    }
    #store a{
        text-decoration: none;
    }







    
@media screen and (min-width: 600px){


    #sectionMusique{
        background-color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #albumSpotify{
        width: 35vw;
        height: 70vh;
    }


    #musique{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #aPropos{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-size: 115%;
        background-color: #2a2e31;
    }



    #containerPropos{
        max-width: 72%;
    }

    #textPropos{
        color: #d2c9c9;
        margin: 10px;
        text-align: justify;
    }

    #imgAPropos{
        width: 70%;
        object-fit: cover;
        object-position: 0px 40px;
    }


    #album{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #textAlbum{
        display: flex;
        justify-self: center;
    }

    #store{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0px 15px 0px 15px;
    }

    #article{
        width: 25vw;
        overflow: hidden;
    }

    #article img{
        transition: transform .05s, opacity .05s;
    }

    #textStore p{
        text-align: center;
        font-size: 15px;
    }

    #textStore{
        display: flex;
        justify-content: center;
        flex-direction: column;

        position: relative;
        top: -15vw;
        color: white;
        visibility: hidden;
        transition: transform .05s;
    }


    #article:hover img{
        transform: scale(1.2);
        opacity: 0.5;
    }

    #article:hover #textStore{
        visibility: visible;
        transform: scale(1.2);
    }


}

@media screen and (min-width: 1600px){
    #logo{
        width: 400px;
        height: 162px;
    }
    


}