body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

header, nav, main, footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


nav{
    background-color: $couleur_rougeFonce;
}    

main{
    background-color: $couleur_rougePastel;
}
footer{
    background-color: $couleur_rougeBrun;
}


.global{
    width: 100%;
}



@media screen and (min-width: 600px){

    header{
        height: 100vh;
    }

    header .global{
        height: 100vh;
        display: flex;
        justify-content:left;
        align-items: center;
        flex-direction: row;
        background-image: url('../medias/Accueil.jpg');
        background-position: 50% 50%;
    }

    #fondBlanc{
        background-color: white;
        height: 100%;
        width: 25%;
        //justify-content: flex-start;
    }

    #musique{
        background-color: white;
        height: 100vh;
    }

    //.global #photoAccueil{
        
      //  height: 100vw;
      //  display: flex;

     //   align-items: center;
     //   justify-content:center;
    //}




}