#chk-menu{
    display: none;
}

#boutons-menu{
    display: block;
}




#nav{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s;
    transform: translate(0%, 0%);
    
}

#nav ul{
    list-style-type: none;
    display : flex;
    padding: 0;
    margin: 0;  
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    //padding-top: 13%;
    border-bottom: 3px solid;
    border-top: 0px solid;

}

#fondBlanc{
    width: 100%;
    flex-direction: column;
    background-color: white;
    transform: translate(-100%, 0%);
    transition: 0,7s ease-in;
    position: absolute;
} 

#fondBlanc img{
    visibility: hidden;
    height: 0px;
}



#burger{
    margin: 10px;
    transform: translate(105%, 0%);
}

#burger::before,
#burger::after,
#burger div{
    background-color: rgb(29, 29, 29);
    border-radius: 3px solid black;
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    margin: 5px 0;
    cursor: pointer;

}

//#containBurger{
//    position: relative;
//    left: 100%;
//    width: 35px;
//    top: -30px;
//    margin: 1.5em;
//    margin-top: 50px;
//}



//unchecked 
//#fondBlanc{
//    transform: translate(-100%, 0%);
//}

//#burger{
//    transform: translate(105%, 0%);
//}



//checked
//#fondBlanc{
//    transform: translate(0%, 0%);
//}

//#burger{
//    transform: translate(0%, 0%);
//}


//mobile
//#nav{
//    transform: translate(0%, -9%);
//}


//web
//#nav{
//    transform: translate(0%, 0%);
//}



//desktop
@media screen and(min-width: 600px){
    
    #bouton-menu{
        display: none;
    }
    
    #fondBlanc img{
        visibility: visible;
        height: 10vw;
    }

    #burger{
        position: absolute;
        margin: 10px;
        width: 100%;
        top: 0px;
        left: 0px;
    }


    


    #logo{
        position: relative;
        top: 52px;
    }

    li{
       border-top: 3px solid;
       border-bottom: 0px solid;
    }

    #nav a{
        font-size: 3vw;
    }
    
    #containBurger{
        width: 100%;
        display: flex;  
        transform: translate(-100%, 0%); 
        transition: 1s; 
    }

    #fondBlanc{
        visibility: visible;
        background-color: white;
        height: 100vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

