#chk-menu{
    display: none;
}

#boutons-menu{
    display: block;
}




#nav{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav ul{
    list-style-type: none;
    display : flex;
    padding: 0;
    margin: 0;  
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    //padding-top: 13%;
    border-bottom: 3px solid;
    border-top: 0px solid;

}

#fondBlanc{
    width: 100vw;
    flex-direction: column;
    background-color: white;

} 

#fondBlanc img{
    visibility: hidden;
    height: 0px;
}


//desktop
@media screen and(min-width: 600px){
    
    #bouton-menu{
        display: none;
    }
    
    #fondBlanc img{
        visibility: visible;
        height: 10vw;
    }
    
    #nav ul li{
       border-top: 3px solid;
    }

    #nav a{
        font-size: 4vw;
    }

    #fondBlanc{
        visibility: visible;
        background-color: white;
        height: 100vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}