footer{
    display: none;
}




@media screen and (min-width: 600px){

    footer{
        display: flex
    }

    footer .global{
        background-color: #3e4246;
        color: white;
        font-family: roboto;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    footer .global *{
        width: 20vw;
        text-align: center;
    }

    #containSociaux{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #imgSociaux{
        width: 35px;
    }



}