$couleur_rouge : rgb(255, 43, 43);
$couleur_rougeFonce : rgb(139, 2, 2);
$couleur_rougePastel : rgb(255, 102, 102);
$couleur_rougeBrun : rgb(146, 66, 66);

$couleur_Gris: rgb(235, 235, 235);
$couleur_noir: rgb(0, 0, 0);